body{
    background: linear-gradient(to right, #ff7e5f, #feb47b);    width: 100%;
    color: rgb(40, 40, 40);
    font-family: Poppins,sans-serif;
}

.main-div{
    
    background-color: whitesmoke;
    opacity: 90%;
    top: 15%;
    bottom: 15%;
    right: 15%;
    left: 15%;
    position: absolute;
    border-radius: 20px;
    display: flex;
    /* align-items: center; */
    /* flex-direction: column; */
}

.img{
    background-color: blue;
    height: 100%;
    width: 40%;
}