h1{
    text-align: center;
}

.sett{
    /* width: 30%; */
    height: 100%;
    font-family: Poppins,sans-serif;
    padding-left: 20px;
    display:flex;
    /* flex-direction: */
}

.img{
    background-image: url(./se.gif);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
}


/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.main-div {
    margin: 50px auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #222;
    font-size: 30px;
}

.sett {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-size: 20px;
    color: #555;
}

.input-field {
    width: 100%;
    padding: 12px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.input-field:focus {
    border-color: #0066cc;
    outline: none;
}

#difficulty {
    appearance: none; /* Removes the default browser styling */
}

#difficulty option {
    font-size: 16px;
}

select{
    max-width: 300px;
}

input{
    max-width: 200px;
}

#difficulty {
    appearance: none;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 8px;
    background-image: url('data:image/svg+xml;utf8,<svg ...></svg>');
    background-position: right 10px center;
    background-size: 12px;
}

#difficulty option {
    /* padding: 1px; */
    font-size: 18px;
    border: none;
    
}


